
@import url("https://fonts.googleapis.com/css2?family=Anybody&family=Aoboshi+One&family=Black+Han+Sans&family=Dokdo&family=Gugi&family=Noto+Serif+KR:wght@900&display=swap");
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.pages_link {
  margin-left: 4vw;
  white-space: nowrap;
}
.pages_link text {
  margin-right: 2.5vw;
}
.links {
  font-family: "Black Han Sans", serif;
  font-size: 2vw;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}


.links:last-child {
  margin-right: 0;
}

.links:hover {
  color: #b93234;
}

.info_box {
  margin-left: 4vw;
  font-family: "Anybody", serif;
  color: #696060;
}

.logout_btn {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.logout_btn:after {
  display: block;
  content: "";
  border-bottom: solid 3px #b93234;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.logout_btn:hover:after {
  transform: scaleX(1);
}

.alarm_box {
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.number_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .pages_link {
    margin: 0;
  }

  .texts {
    font-size: 3vw;
    margin: 1vh 1.5vw;
  }

  .info_box {
    margin: 1rem 0;
  }

  .logout_btn {
    margin: 0;
  }

  .alarm_box {
    margin: 2rem 0;
  }
}
.active{
  color:#b93234;
}
